<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - POSebda3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">POSebda3</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">التعليمات</a>
                        </li>
                      <li class="dropdown nav-item">
                                <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">
                                    البضاعة
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    
                                    <li><a class="nav-link text-dark" asp-action="Index" asp-controller="products">البضاعة</a></li>
                                    <li><a class="nav-link text-dark" asp-action="Index" asp-controller="Categories">الاصناف</a></li>
                                    <li><a class="nav-link text-dark" asp-action="Index" asp-controller="Inventories">المخزون</a></li>

                                </ul>
                            </li>

                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">
                                    المشتريات
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-action="Index" asp-controller="Vendors">الموردين</a></li>
                                    <li><a class="nav-link text-dark" asp-action="Index" asp-controller="Bills">فواتير الشراء</a></li>
                        
                                </ul>
                            </li>

                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">
                                    المبيعات
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                   
                                    <li><a class="nav-link text-dark" asp-action="Index" asp-controller="Invoices">فواتير البيع</a></li>
                                    <li><a class="nav-link text-dark" asp-action="Index" asp-controller="LineOrders">البيع المباشر</a></li>
                                                    
                                   

                                </ul>
                            </li>

                             <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">الرئيسية</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - POSebda3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
