@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>هذا المشروع عبارة عن بروتوتايب لنقطة بيع </p>
    <p>There is a Prototype of Point of Sales by ASP Core </p>

    <div class="container">

        <img src="~/images/1.jpg" class="rounded mx-auto d-block" alt="...">

        <p>Eng./ Abdulrhman Bashammakh 773886998 </p>
         <p>اضغط على وسم التعليمات </p> 
         <div>
    <a asp-action="Privacy">هنا</a>
</div>
    </div>
</div>
