@{
    ViewData["Title"] = "التعليمات";
}

<div class="container">
    <h1 dir="rtl">@ViewData["Title"]</h1>

    <p>
        must be make migaration by order 
        <h4>
            update-datadase
        </h4>
        then be sure to execution sql file that include triggers order or functions 
        you can find it in( SQL file => TR.sql)
        after that must to insert in Vendor table and categories table to be ready to use this prototype 

    </p>
<h3>database Structure </h3>

   <img src="~/images/db.png" class="rounded mx-auto d-block" alt="...">
</div>

<h3>Brief </h3>

<p>
    This Prototype fouces on mainly functional of POS Point of sales ... It is still Prototype so, need more 
    to deploymant this Appliction By Asp core 5 .Net and Bootstrap5

</p>
 
<h3>Tools that used  </h3>
<h5>
     Entiteframework 
</h5>
<h5>
     AutoMapper  
</h5>
<h5>
     Swagger Api Docs
</h5>
<h5>
     JS Ajax JQuary 
</h5>

<h3>To Enhance App </h3>
<p>
  We Can use Repository Pattern or Unit of Work Pattern to use this app with many Databases like PostgresSql or Mysql 
  also . in Front-end  I recommend to use framework like React/next.js or Angler or some things like that to reach for 
  best productivity 

</p>

    <h1>الملخص بالعربي </h1>
    <img src="~/images/2.png" width="90%" class="rounded mx-auto d-block" alt="...">